<header class="site-header">

  <div class="wrapper">
    <div class="logo">
      <a href="/"><img src="/apoderament.svg" /></a>
    </div>
    <div class="site-title">
      <div>{{ site.title | escape }}</div>
      <div class="site-subtitle">{{ site.subtitle | escape }}</div>
    </div>
  </div>

</header>
